body
  background: darken(white, 5%)
  font-family: "Helvetica Neue"
  padding: 1em
  display: flex
  justify-content: center

.Application
  width: 500px
  background: white
  padding: 1em

  a
    color: #336633

  h1
    margin-bottom: .5em
    font-weight: bold
    font-size: 2em

  h2
    margin-bottom: 1em
    padding-bottom: 1em
    border-bottom: 1px solid #eee

    strong
      font-weight: bold

  main
    p
      margin-bottom: 1em
      line-height: 1.4em
